{% include 'parties/header.html.twig' %}
<h1>Les classes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Niveau</th>
            <th>Nb. d'élèves</th>
            <th>Prof. principal</th>
        </tr>
    </thead>
    <tbody>
        {% for classe in classes %}
        <tr>
            <td>{{ classe.nom }}</td>
            <td>{{ classe.niveau }}</td>
            <td>{{ classe.eleves.count }}</td>
            <td>{{ classe.profPrincipal.nomEtPrenom }}</td>
        </tr>
        {% endfor %}


        <tr>
            <td colspan="4" class="bg-success text-center">
                <a href="{{path('classes_create')}}" class="text-light">
                    <i class="fa fa-plus" aria-hidden="true"></i> Créer une nouvelle classe
                </a>
            </td>
        </tr>
    </tbody>
</table>
{% include 'parties/footer.html.twig' %}