<!doctype html>
<html lang="en">

<head>
    <title>TP Symfony</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">

        <nav class="nav justify-content-center">
            <a class="nav-link active" href="{{path('accueil')}}">Accueil</a>
            <a class="nav-link active" href="{{path('matieres_all')}}">Les matières</a>
            <a class="nav-link active" href="{{path('profs_all')}}">Les professeurs</a>
            <a class="nav-link active" href="{{path('eleves_all')}}">Les élèves</a>
            <a class="nav-link active" href="{{path('classes_all')}}">Les classes</a>
        </nav>

        {% for error in app.flashes('errors') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            <strong>Erreur</strong> {{error}}
        </div>
        {% endfor %} {% for success in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            <strong>Succès</strong> {{success}}
        </div>
        {% endfor %}