{% include 'parties/header.html.twig' %}
<h1>Les élèves</h1>

<form method="get" class="my-4">
    <div class="row">
        <div class="col-10">
            <div class="form-group row">
                <label for="search" class="col-sm-10 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher le nom et/ou prénom de l'élève">
                </div>
            </div>
        </div>

        <div class="form-group col-2">
            <button type="submit" class="btn btn-primary">Chercher</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Classe</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for eleve in eleves %}
        <tr>
            <td>{{ eleve.nomEtPrenom }}</td>
            <td>{{ eleve.dateNaissance|date('d/m/Y') }}</td>
            <td>{{ eleve.classe.nom }}</td>
            <td>
                <a href="{{path('eleves_details', {eleve: eleve.id})}}" class="btn btn-info">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="{{path('eleves_delete', {eleve: eleve.id})}}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ?')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endfor %}


        <tr>
            <td colspan="4" class="bg-success text-center">
                <a href="{{path('eleves_create')}}" class="text-light">
                    <i class="fa fa-plus" aria-hidden="true"></i> Créer un nouvel élève
                </a>
            </td>
        </tr>
    </tbody>
</table>
{% include 'parties/footer.html.twig' %}